
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient( rgb(246, 231, 137), rgb(255, 72, 0));
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Pokemon Solid", sans-serif;                                           
}
.TitleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    gap: 20px;
}
.TitleSection input {
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border: 3px solid rgb(95, 117, 5);
    font-size: 20px;
    font-weight: bold;
}
.TitleSection input:hover{
    cursor: pointer;
}
.TitleSection button{
    text-align: none;
    border: 3px solid rgb(95, 117, 5);
    border-radius: 8px;
    height: 30px;
    width: 150px;
    font-size: 15px;
    font-weight: 1000;
}
.TitleSection button:hover{
    cursor: wait;
}
.TitleSection h1{
    font-size: 90px;
    color: rgb(95, 117, 5);
}
.DisplaySection {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}
.DisplaySection .poken{
    height: 200px;
    width: 200px;
}
.DisplaySection .pokem {
    height: 250px;
    width: 250px;
}
.DisplaySection h1 {
    font-size: 35px;
}
.pkn {
    display: flex;
    padding-bottom: 20px;
    gap: 30px;
}
